<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Produktlist</label>
    <label lang="en">Productlist</label>
    <version>1.0.0</version>
    <copyright>(c) by Keller &amp; Brennecke GmbH</copyright>
    <license>proprietary</license>
    <link>http://www.keller-brennecke.de</link>
    <author>Keller &amp; Brennecke GmbH</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de"></changes>
    </changelog>
</plugin>
